section {
  background-color: rgb(117, 85, 85);
}

.weather {
  width: 100%;
  max-width: 350px;
  height: 80vh;
  background: url(../../after_noon.webp);
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.weather-app > *,
.result > * {
  color: black;
}

.result > p {
  font-size: 18px;
}

.result {
  background-color: rgba(178, 74, 204, 0.4);
}

.error {
  background: rgba(255, 1, 1, 0.3);
  padding: 1rem;
  font-weight: 400;
}
